<nav>{{- partial "nav.html" . -}}</nav>
{{- if not (eq .Kind "404") }}
  {{- with .Title }}
    <h1>{{ . }}</h1>
  {{- end }}
{{- end }}
{{ with .Description }}
  <p>{{ . }}</p>
{{ end }}
{{- if isset .Params "status" }}
    <p><b>Project Status:</b> {{ .Params.status }}</p>
{{- end }}
{{- if isset .Params "source" }}
    <p><b>Project Source:</b> <a href="{{ .Params.source }}">{{ .Params.source }}</a></p>
{{- end }}
{{- if isset .Params "categories" }}
{{- with .GetTerms "categories" }}
    {{ $currentPageUrl := $.Permalink }}
      {{ range . }}
        {{ $name := strings.ToLower .LinkTitle }}
        {{ $series := index $.Site.Taxonomies.categories $name }}
        {{ if gt (len $series.Pages) 1 }}
        <hr >
        <strong>Part of the <a href="{{ .Permalink }}">{{ .LinkTitle }}</a> series</strong>
        <nav id="TableOfContents">
        <ul style="display: inline">
            {{ range $series.Pages.ByWeight }} 
                <li style="display: inline"><a href="{{.Permalink}}" {{ if eq .Permalink $currentPageUrl }}class="current"{{ end }}>{{ .LinkTitle }}</a></li>
            {{ end }}
        </ul>
        </nav>
        {{ end }}
      {{ end }}
    </section>
{{- end }}
{{- end }}
