
h1 {
    text-align: center;
}

body {
    min-height: 100vh;
}

a {
    color: #0097df;
}

body {
    background-image: linear-gradient(#aee1f9, #e8f7ff)
}

.btn-primary {
    background-color: #0097df;
    border-color: #0097df;
}

/* NAVBAR */
.navbar-dark {
    background-color: #305375;
}

.dropdown-menu {
    background-color: #305375;
}

.dropdown-item {
    background-color: #305375;
    color: white;
}

/* MENUS */
.navmenu {
    background-color: #2296d9;
}

.navmenu > a {
    color: white;
}

/* FOOTER */
footer {
   position: fixed;
   bottom: 0;
   width: 100%;
   /* Set the fixed height of the footer here */
   height: 60px;
   /* Vertically center the text there */
   line-height: 60px;
   background-color: #305375;
}


/* HPC MOUNTAIN FORMATTING */
.wrapper {
/*  width: 80%;
  max-width: 50%;
  margin-left: 1%; */
}

.mountainzone {
    padding: 60px 0;
    text-align: center;
    margin: 0 auto; 
    background-blend-mode: lighten;
    cursor: pointer;
    animation: down 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
    color: #222;
    text-shadow: 1px 1px 2px white;
    transition: background-color 0.5s;
    font-family: monospace;
    font-size: x-large;
}

.mountainzone:hover{
	color: white;
	text-shadow: 1px 1px 2px #000;
}

/* Workflow */
.mountainzone:nth-child(1) {
    width: 25%;
    clip-path: polygon(50% 0, 100% 100%, 0% 100%);
    -webkit-clip-path: polygon(50% 0, 100% 100%, 0% 100%);
    background: rgba(0,151,223,0.7) url("/assets/img/workflow.jpg");
    background-size: cover;
    background-position: center;
}
.mountainzone:nth-child(1):hover {
    background-color: rgba(0,151,223,0.2);
}

/* Environment */
.mountainzone:nth-child(2) {
    width: 50%;
    clip-path: polygon(25% 0, 75% 0, 100% 100%, 0 100%);
    -webkit-clip-path: polygon(25% 0, 75% 0, 100% 100%, 0 100%);
    background: rgba(0,151,223,0.7) url("/assets/img/environment.jpg");
    background-size: cover;
    background-position: center;
}
.mountainzone:nth-child(2):hover {
    background-color: rgba(0,151,223,0.2);
}

/* Platform */
.mountainzone:nth-child(3) {
    width: 75%;
    clip-path: polygon(16.5% 0, 83% 0, 100% 100%, 0 100%);
    -webkit-clip-path: polygon(16.5% 0, 83% 0, 100% 100%, 0 100%);
    background: rgba(0,151,223,0.7) url("/assets/img/platform.jpg");
    background-size: cover;
    background-position: center;
}
.mountainzone:nth-child(3):hover {
    background-color: rgba(0,151,223,0.2);
}

/* Architecture */
.mountainzone:nth-child(4) {
    width: 100%;
    clip-path: polygon(12.5% 0, 87.5% 0, 100% 100%, 0 100%);
    -webkit-clip-path: polygon(12.5% 0, 87.5% 0, 100% 100%, 0 100%);
    background: rgba(0,151,223,0.7) url("/assets/img/architecture.jpg");
    background-size: cover;
    background-position: center;
}
.mountainzone:nth-child(4):hover {
    background-color: rgba(0,151,223,0.2);
}

.hpcmountain {
/*    float: left;
    width: 1400px;
    height: 800px; */
    font-family: 'Gabriela';
    shape-outside: polygon(310px 0, 130px 405px, 558px 405px);
}

@media only screen and (max-width: 1120px) {
    .mountainzone {
        font-size: large;
    }
}

@media only screen and (max-width: 715px) {
    .mountainzone {
        font-size: medium;
    }
}

@media only screen and (max-width: 560px) {
    .mountainzone {
        font-size: smaller;
    }
}
