{{ define "main" }}
<h4><i>Below are the topics covered by documentation grouped from oldest documentation to newest.</i></h4>
{{ range .Sections.ByDate }}
<p>
<strong>[{{ .Date.Format "2006" }}] <a href="{{ .RelPermalink }}">{{ .Title }}</a></strong> ({{ len .Pages }} pages)<br />
<i>{{ .Description }}</i>
</p>
{{ range .Pages }}
{{ if .IsSection }}
<p style='margin-left:5rem;padding-left: 1rem;border-left: 1px solid'>
<strong><a href="{{ .RelPermalink }}">{{ .Title }}</a></strong> ({{ len .Pages }} pages)<br />
<i>{{ .Description }}</i>
</p>
{{ end }}
{{ end }}
{{ end }}
{{ end }}
