<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= @item[:heading] || "openflightHPC" %></title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheet.css">

    <!-- jQuery library -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src='/assets/scripts.js'></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>

    <!-- Font Awesome icons -->
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="theme-color" content="#ffffff">
    <!-- Mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <!-- Main Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom">
        <a class="navbar-brand" href="/"><img src="/assets/png_trans_logo-navbar.png" alt="openflightHPC Logo" height="75"></img></a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbar
SupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link nav-menu-button" href="#about" data-toggle="collapse">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-menu-button" href="#discussion" data-toggle="collapse">Discussion</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-menu-button" href="/tools">Tools</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-menu-button" href="/images">Images</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-menu-button" href="/flight" style="color: #c70000;">Legacy Flight</a>
                </li>
            </ul>
            <div class="my-2 my-lg-0 navbar-right">
                <a href="https://github.com/openflighthpc"><span class="fa fa-3x fa-github"></span></a>
            </div>
        </div>

    </nav>
    <!-- Navigation Menus -->
    <div id="menus">
        <nav class="collapse nav nav-underline navmenu" id="about" data-parent="#menus">
            <a class="nav-item nav-link" href="/about/features">Features</a>
            <a class="nav-item nav-link" href="/about/vision">Vision</a>
            <a class="nav-item nav-link" href="/about/hpc-mountain">HPC Mountain</a>
        </nav>
        <nav class="collapse nav nav-underline navmenu" id="discussion" data-parent="#menus">
            <a class="nav-item nav-link" href="https://community.openflighthpc.org">Support</a>
            <a class="nav-item nav-link" href="/docs">Docs</a>
            <a class="nav-item nav-link" href="/discussion/mail-list">Mail List</a>
            <a class="nav-item nav-link" href="/discussion/flightpapers">FlightPapers</a>
            <a class="nav-item nav-link" href="/discussion/contributors">Contributors</a>
        </nav>
    </div>
    <!-- Title Heading --> 
    <% if @item[:heading] %>
    <div class="heading">
        <h1><%= @item[:heading] %></h1>
    </div>
    <% end %>
    <!-- Main Body Layout -->
    <div class="container-fluid">
        <div class="row content">
            <div class="col-sm-2 sidenav" id="sidebar1">
            </div>
            <div class="col-sm-8 centernav" id="main">
                <br />
                <%= yield %>
                <% unless @item[:title] == "Home" %>
                <br />
                <button class="btn btn-primary" style="display: block;margin: 0 auto" onclick="goBack()">Back</button>
                <% end %>
                <br />
                <br />
                <br />
            </div>
            <div class="col-sm-2 sidenav" id="sidebar2">
            </div>
        </div>
        <br />
    </div>
    <footer class="footer border-top">
        <div class="container">
            <span class="text-muted" style="float: left">Copyright 2019 openflightHPC</span>
        </div>
    </footer>
  </body>
</html>
